#agenda div{

    font-size: medium;
    display: inline-table;
    padding: 10px 250px 10px 250px;
    font-size: larger;
    

}


#divs div{

    display: inline-block;
    margin: 10px 100px 10px 100px;
    font-size: large;


}

footer{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #FF7D29;
    text-align: center;
    background-color: #1d1d1d;
}

header{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #FFBF78;
    background-color: #0c0c0c;
}

main{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #FFEEA9;
    margin: 50px;
    text-align: center;
    background-color: #1d1d1d;

}

body{
    background-color: #FFBF78;
    background-color: #0c0c0c;
}

img{
    padding: 50px 50px 50px 50px;
    width: 500px;
}

p, h1, h2, h3, h4{
    color: white;
}

b{
    color: red;
}

marquee{
    color: red;
}
